name: mind_track
description: "A mobile app that digitizes activity schedules for individuals with mental illness, enabling them to track daily engagements digitally. It allows occupational therapists to monitor progress and provide personalized follow-ups in real time."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.3
  flutter_secure_storage: ^9.2.4
  intl: ^0.18.1
  cupertino_icons: ^1.0.8
  fl_chart: ^0.68.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/